/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para la lista de Digimon */
.listado-digimon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.digimon-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    background-color: white;
}


.detalle-digimon {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#digimon-image {
    max-width: 200px;
}


